.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.controls {
  margin-top: 10px;
}

.alive {
  background-color: #FF9800 !important;
}

.tile {
  width: 20px;
  height: 20px;
  background-color: #263248; 
  border: 1px solid #FFFFFF;
}
